/*** RESET ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Google Fonts ***/

html {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*** DEBUG ***/
/* * {
    outline: 1px solid rgb(255, 0, 0);
} */

/* GENERAL */

img {
    max-width: 100%;
}

html {
    line-height: 1.5;
}

/*** STYLE ***/

/* Header */
header {
    background-color: #0084FD;
    width: 100%;
}

.header-tablet-desktop {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bars {
    color: white;
}

.bars i {
    font-size: x-large;
    padding-top: 5px;
}

/* MAIN */

/* Section info col  */

.container-background {
    padding-top: 30px;
    padding-bottom: 50px;
}

.col-container {
    width: 90%;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
}

.col-large {
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}


.button-apple {
    color: #ffffff;
    background-color: #0084FD;
    margin: 0 auto;
    width: 40%;
    padding: 5px;
    border-radius: 50px;
    margin-top: 20px;
    margin-top: 20px;
}

.button-apple a {
    text-decoration: none;
    color: white;
    padding: 5px;
}


.col {
    width: 100%;
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

}

.card >  h2 {
    color: #0084FD;
    padding-bottom: 20px;
}

.card-l >  h2 {
    color: #0084FD;
    padding-bottom: 20px;
}

.icon {
    color: #0084FD;
    font-size: 60px;
}


/* Strategic planning section */

.strategic-big-container {
    background-color: #9792E4;
    padding: 30px;
}

.strategic-small-container {
    width: 90%;
    margin: 0 auto;
    display: block;
    color: white;
    padding-bottom: 20px;
}

.left-con > h2 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.left-con > p {
    padding-right: 15px;
}


.left-con {
    padding-top: 50px;
}

.strategic-img {
    width: 100%;
}

.right-con {
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    color: black;
}

.right-con > p {
    padding: 3px;
    padding-bottom: 20px;
}

.strategic-img2 {
    width: 70%;
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
}

.arrow-down {
    margin: 0 auto;
    width: 30px;
    background-color: #9792E4;
    border-radius: 100px;
}

/* Testimonials */

/* TOP */

.testimonials-small-c {
    width: 90%;
    margin: 0 auto;
}

.titles-testimonials {
    text-align: center;
}

.titles-testimonials div {
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.621);
}

.titles-testimonials h2 {
    color: #9792E4;
    font-size: 30px;
    padding-bottom: 15px;
}

.titles-testimonials p {
    font-size: large;
    padding: 10px;
    padding-bottom: 30px;
}

/* BOTTOM */

.testimonial-col {
    width: 100%;
}

.testimonial-single {
    color: white;
    background-color:  #9792E4;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}


.img-testimonial-c {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.img-testimonial-c img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.quote-testimonial {
    padding: 15px 20px;
}

.quote-testimonial p {
    padding-bottom: 20px;
}
.fa-quote-right, .fa-quote-left {
    font-size: larger;
}

/* About Us */

.left-about {
    width: 100%;
    padding: 30px;
}

.left-about h1 {
    color: #9792E4;
    font-size: 50px;
    padding-bottom: 10px;
}

.right-about {
    width: 60%;
    padding-left: 40px;
}


.paragraph {
    line-height: 2;
    padding-bottom: 10px;
}

.h2-about {
    line-height: 1.3;
    color: #9792E4;
    padding-top: 5px;
    padding-bottom: 20px;
}

.img-about-c {
    position: relative;
}


.img-about {
    border-radius: 50%;
}

.quotemark {
    position: absolute;
    font-size: 60px;
    color: #9792E4;
    top: 0;
    right: 0;
}

.b-about {
    padding: 2px 10px;
    background-color: #9792E4;
    border-radius: 50px;
    margin-bottom: 70px;
}

.b-about a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-left: 8px;
}

/* It's Free Section */

.free-big-container {
    background-color: #9792E4;
}

.free-small-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.get-started {
    color: #ffffffa5;
    padding-top: 15px;
}

.simple {
    font-size: 35px;
    color: white;
}

.free {
    color: #FDC15F;
    font-size: 70px;
}

.info {
    width: 100%;
    margin: 0 auto;
    color: white;
    padding-bottom: 20px;
}

.get-started > a {
    text-decoration: none;
    color: #9792E4;
    background-color: white;
    padding: 15px 60px;
    border-radius: 50px;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: smaller;
    color: white;
}


/* Footer */

footer {
    background-color: #333333;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    color: white;
}

.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-center {
    padding-bottom: 2px;
}

.footer-bottom {
    padding-bottom: 30px;
}

.footer-align {
    text-align: center;
}

.a-footer {
    color: #9792E4;
}

/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 768px) {

    /* Header */

    .header-tablet-desktop {
        display: none;
    }

   .bars {
        display: inline-block;
    }


    nav {
        display: flex;
        justify-content: space-around;
    }

    .button-get {
        padding: 5px 0px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }

    /* Section info col  */

    .container-background {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .col-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .large-col-img {
        width: 35%;
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .col-large {
        width: calc((100% / 3 ) * 2 - 30px);
        background-color: #B5DDFF;
        display: flex;
        position: relative;
        border-radius: 20px;
        text-align: left;
        padding: 20px;
        margin: 7px;
    }

    
    .col {
        width: calc(100% / 3 - 30px);
        text-align: center;
        background-color: #B5DDFF;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
    }

    .card-l {
        width: 50%;
    }

    .button-apple {
        width: 70%;
    }
    
    .button-apple a {
        padding: 10px;
    }
    

    /* Strategic Planning Section */
    .strategic-big-container {
        padding: 0;
    }

    .left-con > h2 {
        font-size:50px;
        padding: 0;
    }

    /* Testimonials */

    /* TOP */

    .testimonials-big-c {
        
    }

    .testimonials-small-c {
        width: 90%;
        margin: 0 auto;
    }

    .titles-testimonials {
        text-align: center;
    }

    .titles-testimonials div {
        padding-top: 40px;
        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.621);
    }

    .titles-testimonials h2 {
        color: #9792E4;
        font-size: 40px;
        padding-bottom: 15px;
    }

    .titles-testimonials p {
        font-size: large;
        padding-bottom: 30px;
    }

    /* BOTTOM */

    .testimonial-col {
        width: 100%;
        height: calc(100% / 3);
    }

    .testimonial-single {
        color: white;
        background-color:  #9792E4;
        border-radius: 30px;
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
    }


    .img-testimonial-c {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    
    }

    .img-testimonial-c img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .quote-testimonial {
        width: 70%;
        padding: 30px 40px;
    }

    .quote-testimonial p {
        padding-bottom: 20px;
    }
    .fa-quote-right, .fa-quote-left {
        font-size: larger;
    }

    /* About Us  */

    .about-us-small-container {
        display: flex;
        width: 80%;
        padding-left: 10px;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .paragraph {
        line-height: 2;
    }

    .left-about {
        margin-right: 30px;
    }
    .right-about {
        width: 70%;
        margin-top: 50px;
    }

    .paragraph {
        line-height: 2;
    }

    .h2-about {
       width: 200px; 
    }

    .b-about a {
        font-size: 12px;
    }

    /* footer */
    footer {
        padding: 30px;
    }

    .footer-container {
        width: 50%;
    }
}


/* Desktop */
@media screen and (min-width: 992px) {

     /* Header */

    .header-tablet-desktop {
        display: flex;
        padding: 5px;
        justify-content: space-around;
    }

   .header-container {
        display: flex;
        justify-content: space-around;
    }

   .bars {
        display: none;
    }

    li > a {
        text-decoration: none;
        color: white;
        padding: 0 28px;
        font-size: larger;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .button-get {
        padding: 10px 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }

    /* Section info col  */
    
    .container-background {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .col-container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .large-col-img {
        width: 35%;
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .abc {
        object-fit: cover;
    }
    .col-large {
        width: calc((100% / 3 ) * 2 - 30px);
        background-color: #B5DDFF;
        display: flex;
        position: relative;
        border-radius: 20px;
        text-align: left;
        padding: 20px;
        margin: 7px;
    }

    
    .col {
        width: calc(100% / 3 - 30px);
        text-align: center;
        background-color: #B5DDFF;
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
    }

    .card-l {
        width: 50%;
    }

    .button-apple {
        width: 70%;
    }
    
    .button-apple a {
        padding: 10px;
    }

    /* Testimonials */
    /* TOP */

    .testimonials-small-c {
        width: 70%;
        margin: 0 auto;
    }

    .titles-testimonials {
        text-align: center;
    }

    .titles-testimonials div {
        padding-top: 40px;
        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.621);
    }

    .titles-testimonials h2 {
        color: #9792E4;
        font-size: 40px;
        padding-bottom: 15px;
    }

    .titles-testimonials p {
        font-size: large;
        padding-bottom: 30px;
    }

    /* BOTTOM */

    .testimonial-col {
        width: 100%;
        height: calc(100% / 3);
    }

    .testimonial-single {
        color: white;
        background-color:  #9792E4;
        border-radius: 30px;
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
    }


    .img-testimonial-c {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
    
    }

    .img-testimonial-c img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .quote-testimonial {
        width: 70%;
        padding: 30px 40px;
    }

    .quote-testimonial p {
        padding-bottom: 20px;
    }
    .fa-quote-right, .fa-quote-left {
        font-size: larger;
    }

    /* About Us */
    
    .about-us-small-container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .left-about {
        width: 60%;
        padding-right: 20px;
    }

    .left-about h1 {
        color: #9792E4;
        font-size: 50px;
     
    }

    .right-about {
        width: 30%;
        padding: 10px;
    }


    .paragraph {
        line-height: 2.5;
        padding-bottom: 30px;
    }

    .h2-about {
        line-height: 1.3;
        color: #9792E4;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .img-about-c {
        position: relative;
    }
    

    .img-about {
        border-radius: 50%;
    }

    .quotemark {
        position: absolute;
        font-size: 60px;
        color: #9792E4;
        top: 0;
        right: 0;
    }

    .b-about {
        padding: 2px 10px;
        background-color: #9792E4;
        border-radius: 50px;
    }

    .b-about a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding-left: 8px;
    }

    /* Its free section */
    .info {
        width: 50%;
    }

    /** footer **/

    footer {
        padding: 30px;
    }


    /* Strategic planning section */

    .strategic-big-container {
        background-color: #9792E4;
        padding: 30px;
    }

    .strategic-small-container {
        width: 50%;
        margin: 0 auto;
        display: flex;
        color: white;
        padding-bottom: 20px;
    }

    .left-con > h2 {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .left-con > p {
        padding-right: 15px;
    }


    .left-con {
        margin-top: 50px;
    }
    
    .strategic-img {
        width: 80%;

    }

    .right-con {
        margin-top: 300px;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        background-color: white;
        color: black;
    }

    .right-con > h2, p {
        font-size: smaller;
    }

    .right-con > p {
        padding: 3px;
        padding-bottom: 20px;
    }

    .strategic-img2 {
        width: 70%;
        padding: 5px 10px;
        text-align: center;
        margin: 0 auto;
    }

    .arrow-down {
        margin: 0 auto;
        width: 30px;
        background-color: #9792E4;
        border-radius: 100px;
    }

}