/*** RESET ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Google Fonts ***/

html {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*** DEBUG ***/
/* * {
    outline: 1px solid rgb(255, 0, 0);
} */

/* GENERAL */

img {
    max-width: 100%;
}

html {
    line-height: 1.8;
}

/*** STYLE ***/

header {
    background-color: #0084FD;
    width: 100%;
}

.header-tablet-desktop {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bars {
    color: white;
}

.bars i {
    font-size: x-large;
    padding-top: 5px;
}

/* MAIN */

/* Section info col  */

.container-background {
    padding-top: 30px;
    padding-bottom: 50px;
}
.col-container {
    width: 60%;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
}

.col-large {
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}

.col {
    width: calc(100% / 3 );
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 20px;

}

.card >  h2 {
    color: #0084FD;
    padding-bottom: 20px;
}

.card-l >  h2 {
    color: #0084FD;
    padding-bottom: 20px;
}

.icon {
    color: #0084FD;
    font-size: 60px;
}


/* Strategic planning section */

.strategic-big-container {
    background-color: #9792E4;
    padding: 30px;
}

.strategic-small-container {
    width: 90%;
    margin: 0 auto;
    display: block;
    color: white;
    padding-bottom: 20px;
}

.left-con > h2 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.left-con > p {
    padding-right: 15px;
}


.left-con {
    margin-top: 50px;
}

.strategic-img {
    width: 100%;
}

.right-con {
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    color: black;   
}

.right-con > p {
    padding: 3px;
    padding-bottom: 20px;
}

.strategic-img2 {
    width: 70%;
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
}

.arrow-down {
    margin: 0 auto;
    width: 30px;
    background-color: #9792E4;
    border-radius: 100px;    
}

/* It's Free Section */

.free-big-container {
    background-color: #9792E4;
}

.free-small-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.get-started {
    color: #ffffffa5;
    padding-top: 15px;
}

.simple {
    font-size: 35px;
    color: white;
}

.free {
    color: #FDC15F;
    font-size: 70px;
}

.info {
    width: 100%;
    margin: 0 auto;
    color: white;
    padding-bottom: 20px;
}

.get-started > a {
    text-decoration: none;
    color: #9792E4;
    background-color: white;
    padding: 15px 60px;
    border-radius: 50px;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: smaller;
    color: white;
}


/* Footer */

footer {
    background-color: #333333;   
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    color: white;
}

.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;  
}

.footer-center {
    padding-bottom: 2px;
}

.footer-bottom {
    padding-bottom: 30px;
}

.footer-align {
    text-align: center;
}

.a-footer {
    color: #9792E4;
}

/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 768px) {

    .header-tablet-desktop {
        display: none;
   } 

   .bars {
    display: inline-block;
   }
   
    
    nav {
        display: flex;
        justify-content: space-around;
    }

    .button-get {
        padding: 5px 0px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }

    /* Strategic Planning Section */
    .strategic-big-container {
        padding: 0;
    }
    
    .left-con > h2 {
        font-size:50px;
        padding: 0;
    }

    /* footer */
    footer {
        padding: 30px;
    }

    .footer-container {
        width: 50%;
    }
}


/* Desktop */
@media screen and (min-width: 992px) {

    .header-tablet-desktop {
        display: flex;
        padding: 5px;
        justify-content: space-around;
   } 

   .header-container {
    display: flex;
    justify-content: space-around;
   }

   .bars {
    display: none;
   }

   li > a {
    text-decoration: none;
    color: white;
    padding: 0 28px;
    font-size: larger;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    nav {
        display: flex;
        justify-content: space-between;
    }

    .button-get {
        padding: 10px 20px;
        background-color: white;
        color: black;
        border-radius: 50px;
    }

    /* Its free section */
    .info {
        width: 50%;
    }

    /** footer **/

    footer {
        padding: 30px;
    }

    .footer-container {
        width: 50%;
    }

    /* Section info col  */

    .container-background {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .col-container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .col-large {
        width: calc((100% / 3 ) * 2);
        background-color: #B5DDFF;
        border-radius: 20px;
        text-align: left;
        padding: 20px;
    }

    .col {
        width: calc(100% / 3 );
        text-align: center;
        background-color: #B5DDFF;
        border-radius: 20px;
        padding: 20px;

    }

    .card >  h2 {
        color: #0084FD;
        padding-bottom: 20px;
    }

    .card-l >  h2 {
        color: #0084FD;
        padding-bottom: 20px;
    }

    .icon {
        color: #0084FD;
        font-size: 60px;
    }


    /* Strategic planning section */

    .strategic-big-container {
        background-color: #9792E4;
        padding: 30px;
    }

    .strategic-small-container {
        width: 50%;
        margin: 0 auto;
        display: flex;
        color: white;
        padding-bottom: 20px;
    }

    .left-con > h2 {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .left-con > p {
        padding-right: 15px;
    }


    .left-con {
        margin-top: 50px;
    }
    .strategic-img {
        width: 80%;

    }

    .right-con {
        margin-top: 200px;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        background-color: white;
        color: black;   
    }

    .right-con > h2, p {
        font-size: smaller;
    }

    .right-con > p {
        padding: 3px;
        padding-bottom: 20px;
    }

    .strategic-img2 {
        width: 70%;
        padding: 5px 10px;
        text-align: center;
        margin: 0 auto;
    }

    .arrow-down {
        margin: 0 auto;
        width: 30px;
        background-color: #9792E4;
        border-radius: 100px;    
    }

}